Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["elasticbeanstalk-eu-central-1-428245367419"]
          roleName: 
            "Fn::GetOptionSetting": 
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "aws-elasticbeanstalk-ec2-role"

files:
  # beamterteam certificate
  "/etc/pki/tls/certs/beamerteam_hervgembeerzerveld_nl_bundle.crt":
    mode: "000400"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://s3.eu-central-1.amazonaws.com/elasticbeanstalk-eu-central-1-428245367419/certificates/beamerteam_hervgembeerzerveld_nl_bundle.crt

  # beamterteam private key
  "/etc/pki/tls/certs/beamerteam_hervgembeerzerveld_nl.key":
    mode: "000400"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://s3.eu-central-1.amazonaws.com/elasticbeanstalk-eu-central-1-428245367419/certificates/beamerteam_hervgembeerzerveld_nl.key

  # pptxgen.beamterteam certificate
  "/etc/pki/tls/certs/pptxgen_beamerteam_hervgembeerzerveld_nl_bundle.crt":
    mode: "000400"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://s3.eu-central-1.amazonaws.com/elasticbeanstalk-eu-central-1-428245367419/certificates/pptxgen_beamerteam_hervgembeerzerveld_nl_bundle.crt

  # pptxgen.beamterteam private key
  "/etc/pki/tls/certs/pptxgen_beamerteam_hervgembeerzerveld_nl.key":
    mode: "000400"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://s3.eu-central-1.amazonaws.com/elasticbeanstalk-eu-central-1-428245367419/certificates/pptxgen_beamerteam_hervgembeerzerveld_nl.key

