container_commands:
  01_setup_apache:
    command: cp .ebextensions/httpd/conf.d/custom_vhosts.conf /etc/httpd/conf.d/custom_vhosts.conf
  02_add_servername_to_main_apache_conf:
    command: sed -i -e $'s/<VirtualHost *:80>/<VirtualHost *:80>\\\n    ServerName pptxgen.beamerteam.hervgembeerzerveld.nl/g' /etc/httpd/conf.d/wsgi.conf
