container_commands:
  01_setup_apache:
    command: cp .ebextensions/httpd/conf.d/custom_vhosts.conf /etc/httpd/conf.d/custom_vhosts.conf
  02_add_servername:
    command: cp .ebextensions/httpd/conf.d/wsgi.conf /etc/httpd/conf.d/wsgi.confc

files: 
 "/etc/httpd/conf.d/wsgi.conf":
    mode: "000644"
    owner: root
    group: root
    content : |
      sudo sed -i 's/VirtualHost/allard/g' /etc/httpd/conf.d/wsgi.conf
      testjuh

