files:
  /etc/httpd/conf.d/ssl.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      LoadModule wsgi_module modules/mod_wsgi.so
      WSGIPythonHome /opt/python/run/baselinenv
      WSGISocketPrefix run/wsgi
      WSGIRestrictEmbedded On
      Listen 443
      <VirtualHost *:443>
        SSLEngine on
        SSLCertificateFile "/etc/pki/tls/certs/server.crt"
        SSLCertificateKeyFile "/etc/pki/tls/certs/server.key"
        
        Alias /static/ /opt/python/current/app/static/
        <Directory /opt/python/current/app/static>
        Order allow,deny
        Allow from all
        </Directory>
        
        WSGIScriptAlias / /opt/python/current/app/application.py
        
        <Directory /opt/python/current/app>
        Require all granted
        </Directory>
        
        WSGIDaemonProcess wsgi-ssl processes=1 threads=15 display-name=%{GROUP} \
          python-path=/opt/python/current/app \
          python-home=/opt/python/run/venv \
          home=/opt/python/current/app \
          user=wsgi \
          group=wsgi
        WSGIProcessGroup wsgi-ssl
        
      </VirtualHost>
      
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIEeTCCA2GgAwIBAgIJAPLR4xRzDYjDMA0GCSqGSIb3DQEBCwUAMIHSMQswCQYD
      VQQGEwJOTDELMAkGA1UECAwCT1YxFDASBgNVBAcMC0JlZXJ6ZXJ2ZWxkMScwJQYD
      VQQKDB5IZXJ2b3JtZGUgR2VtZWVudGUgQmVlcnplcnZlbGQxEzARBgNVBAsMCkJl
      YW1lcnRlYW0xMTAvBgNVBAMMKHBwdHhnZW4uYmVhbWVydGVhbS5oZXJ2Z2VtYmVl
      cnplcnZlbGQubmwxLzAtBgkqhkiG9w0BCQEWIGJlYW1lcnRlYW1AaGVydmdlbWJl
      ZXJ6ZXJ2ZWxkLm5sMB4XDTE5MDQyNzE2MDY1OFoXDTIwMDQyNjE2MDY1OFowgdIx
      CzAJBgNVBAYTAk5MMQswCQYDVQQIDAJPVjEUMBIGA1UEBwwLQmVlcnplcnZlbGQx
      JzAlBgNVBAoMHkhlcnZvcm1kZSBHZW1lZW50ZSBCZWVyemVydmVsZDETMBEGA1UE
      CwwKQmVhbWVydGVhbTExMC8GA1UEAwwocHB0eGdlbi5iZWFtZXJ0ZWFtLmhlcnZn
      ZW1iZWVyemVydmVsZC5ubDEvMC0GCSqGSIb3DQEJARYgYmVhbWVydGVhbUBoZXJ2
      Z2VtYmVlcnplcnZlbGQubmwwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIB
      AQDPZlOdlhza0DJ8tLgysvSbi6oMOHBV7N3I7857d44gG2WlnAzptdSoP+HgzFBi
      Mhvs6zdbO6a2uWrFh6mzIP3Tj1NXX1qKlaIJbRo+b/klKjkap+2Fv+2ndBDInD8+
      c9mRYTDVoTKg63WnMZAW7l0F1hgd34KyKYUusG05l2NB1JtTcmNQEXvza8tI6Yjp
      WFq1pfpdGHLU+L9u/Uq4gQPhO1y3ZrFP45zyBiB/Rzq3qQALN1fD0PTGyy8nk07E
      pP0xUhwZuU7/Og0DWr8f72ByLtr1eo8YEUdssqp8TI6UPGOHeMfAJcJvxfHtM3in
      rw4Oow+zrlFUqnU8/CcWxuJLAgMBAAGjUDBOMB0GA1UdDgQWBBSFNoMYwaeHRRyF
      qVdaczeDhUx9GTAfBgNVHSMEGDAWgBSFNoMYwaeHRRyFqVdaczeDhUx9GTAMBgNV
      HRMEBTADAQH/MA0GCSqGSIb3DQEBCwUAA4IBAQCfGmZfvxKxvZiZPw6I/SBO+HMk
      8VHZ/gzXrIdDoVlrTI7Gt7SI2pb/BcUs1NvC9QxriqRsXOavDNse1xASs6OMNtVa
      YUeiVqIgH1sXOZTy6ar0G7zqxVGqxJcSYTlsr/r5UKVZXg5A22fj448sPvH5MiYY
      XqxTZ2nK2aRiq64Gt0SdosNuhOkUJcMonCh0wW6LqJ42Cr3WFZ0ivvgo21VSHSJ6
      FZPPuE7RbYm5mf+LzGd0rLme6JMeoWifDgllwRgdXag03+1HVzITNViGwFdTKPi/
      S3P8aX0A8CiLs9VOTbGtmG4beoXWj71Rvx2T6mXNfOksPvSDxNWPU5Fzskiz
      -----END CERTIFICATE-----
       
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQDPZlOdlhza0DJ8
      tLgysvSbi6oMOHBV7N3I7857d44gG2WlnAzptdSoP+HgzFBiMhvs6zdbO6a2uWrF
      h6mzIP3Tj1NXX1qKlaIJbRo+b/klKjkap+2Fv+2ndBDInD8+c9mRYTDVoTKg63Wn
      MZAW7l0F1hgd34KyKYUusG05l2NB1JtTcmNQEXvza8tI6YjpWFq1pfpdGHLU+L9u
      /Uq4gQPhO1y3ZrFP45zyBiB/Rzq3qQALN1fD0PTGyy8nk07EpP0xUhwZuU7/Og0D
      Wr8f72ByLtr1eo8YEUdssqp8TI6UPGOHeMfAJcJvxfHtM3inrw4Oow+zrlFUqnU8
      /CcWxuJLAgMBAAECggEAeSuOdIYsS4bRyFwJNc2p7Wp2qfcbYoglt2yrlSTvS0DW
      bSAzxyNtn/Las+yKliQyfoOZ7tp191Fy2P7+nWIMCds11Nkn28m6RomQiKQAyr7V
      aAZuVfMhFPFRkPMAXCtxFGfVESrBmpSWQ11Ikq0mee9wXZulDxQE9Jcs6TXSTrWq
      mADr6imtGRiuaUz/unYaZJMIS/aebMeTUbJ56+hdpZjBMmFsLIH0PbqUP4JOx+4p
      701Scf4o2VQYIACKz0Lfx1BqVLY064sVxJgMxB1httZgOsmEHDBXBUqaR+wfCKr+
      AuPv8RsnjADFFMWWN4g+xmfca8ED4VMzgnjUEArLUQKBgQD9/VxugUknejhcrliT
      wbvWE6HxJqr4UEKHIWGlQEx13ytSLHJueNELgiLUx1fTA40qUtqPjKXSsJrqGzJl
      LYxQ7gEi473QS/ZcauF0DvAQ8GYvHWSdKKOCcyngs6vGTBn27+fhFWfCPf4xi8No
      PeVhUPdargpISCqRp1W+XhjMEwKBgQDRCpBkB1eTXQjHWNqCkuOodWW0sesjpQZz
      gXxpdc9OFWHrUzIMoWxbIrMEMO8/1w6JjNreRT7B8g0XeCOR2esWaJUt/vWzXF3U
      eYutY7cmWLYSBLJFXXUJJBK5HmL4e4XY2IOcQ9L0/Nhb4vKZ/Xi7aYzMhp/Ah7+l
      0lEEx7Dn6QKBgQDVIk31QTJ1GT/ArmEQJKuOGk1zwqIH27noEWASPuGqrAp7W2bv
      Qx0QzjSSX3FYVouYL4zOlxTzt1VYDFh+xPkRVJfJgljfOU9UADCOppZXcJQfB0hO
      BTMonaFPuRX1QhkruefYXpECU+lCBGmGySH6Ruo6wv9H5p8qOMRgCjA+1wKBgDKi
      z3UbfjA5Ef5P3KZSdIkC3v8VNfMtb1GdZQiau/ubHFwHjBEZLQkqb5itTdb1/hR9
      pSrANUJ/ooIz3NHgqpyD+tbocpXe4u+r/ZSjmeLVDE1zC8fXqpjrPwnOfYTZTwPG
      9qJsn3YupS4k3EVG6+7h03Rbi+j0OQ0u0+dHg+e5AoGAepUHYsuabHAhIfshesKh
      nU2zMpNRMXsjN7wi0e6Lhxl4ivJBRvXWQ59fRnitODgjksD5ftNBjE8HcexAaHou
      z7rbC031VtzpFeiW2QFW+ZYOPC17CbQWca7GWcugKwKxWwD8QNz/p5orbptQ9PVS
      2wfH3ez5jjznLMFcUVBkn2o=
      -----END RSA PRIVATE KEY-----
      
container_commands:
  01killhttpd:
    command: "killall httpd"
  02waitforhttpddeath:
    command: "sleep 3"
