<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>{% block head_title %}{{ config.SITE_NAME }}{% endblock %}{% if request.path != '/' %} | {{ config.SITE_NAME }}{% endif %}</title>
    
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="imagetoolbar" content="no" />
	<link rel="shortcut icon" href="/favicon.ico" />
    
	<!--<link rel="stylesheet" href="{{ url_for('static', filename='css/screen.css') }}" type="text/css" media="screen" charset="utf-8" />-->
    {% block extra_css %}{% endblock %}
    
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/site.js') }}"></script>
    <script type="text/javascript">var SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>

    {% block extra_js %}{% endblock %}
</head>
<body>
    {% block main %}{% endblock %}
</body>
</html>
