<!doctype html>
<head>
{% block head %}
	<title>Hervgembeerzerveld powerpoint generator</title>
    {% block extra_css %}{% endblock %}
	<script type="text/javascript" src="{{url_for('static', filename='js/pptx_gen.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.0.0.min.js')}}"></script>
    <script type="text/javascript">var SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
    {% block extra_js %}{% endblock %}
{% endblock %}
</head>

{% with messages = get_flashed_messages() %}
	{% if messages %}
		<ul class=flashes>
		{% for message in messages %}
			<li>{{ message }}</li>
		{% endfor %}
		</ul>
	{% endif %}
{% endwith %}
{% block body %}{% endblock %}
