<!doctype html>
<head>
{% block head %}
	<title>Hervgembeerzerveld powerpoint generator</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='hervgemb_logo.png') }}">
    {#{% block extra_css %}{% endblock extra_css %} #}
    <script type="text/javascript">var SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.0.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.ui.core.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.ui.widget.min.js') }}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='js/pptx_gen.js')}}"></script>
   {# {% block extra_js %}{% endblock extra_js %} #}
{% endblock head %}
</head>

{% with messages = get_flashed_messages() %}
	{% if messages %}
		<ul class=flashes>
		{% for message in messages %}
			<li>{{ message }}</li>
		{% endfor %}
		</ul>
	{% endif %}
{% endwith %}
{% block body %}{% endblock %}
